<% if @errors %>
  <%= @errors %>
<% end %>

<form name="login" method="POST" action="/sessions">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="LOGIN">
</form>
