<% if @user.errors %>
 <% @user.errors.full_messages.each do |error| %>
   <ul><%= error %></ul>
 <% end %>
<% end %>
    <form name="login" method="POST" action="/users/login">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="LOGIN">
    </form>
