html {
  height: 100%;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}

.main {
  margin: 2% auto;
  width: 75%;
  height: 100%;
  background-color: white;
  padding: 3% 1% 2% 1%;
  border-radius: 10px;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

nav {
  position: relative;
  bottom: 0;
  width: 100%;
}

nav>ul>li{
  list-style: none;
  display: inline-block;
}

#login, nav>ul>li a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  color: #4c4c4c;
}

li a:hover {
    background-color: #111;
    color: #D8DFE4;
}

form {
  padding: 10px 5px;
}

label, input{
  margin: 5px;
  padding: 10px 5px;
  border-radius: 7px;
}

input[type="submit"] {
  background-color: #111;
  padding: 5px 10px;
  color: #D8DFE4;
  letter-spacing: .2em;
  border: none;
  border-radius: 5px;
}

input[type="submit"]:active {
  background-color: #111;
  padding: 5px, 10px;
  color: #D8DFE4;
  letter-spacing: .1em;
  border: none;
  border-radius: 5px;
}

.left, .right {
  margin: 0 4%;
  width: 100%;
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
  text-align: center;
  font-family: Lato;
}

.left{
  border-right: solid 4px lightgrey;
}

.right {
  border-left: solid 4px #D8DFE4;
}

#summary {
  width: 100%;
}

#summary>p {
  margin: 5%;
  line-height: 1.5em;
  letter-spacing: .1em;
  font-weight: 300;
}

.details {
  font-size: .9em;
}

.profile-image {
  min-height: 100px;
  min-width: 100px;
  max-height: 300px;
  max-width: 300px;
  border-radius: 10px;
  border: 5px solid white;
  box-shadow: 10px 10px 5px #888888;

}

#bio {
  margin: 10% auto;
  width: 70%;
  font-size: 14pt;
  text-align: center;
}

#stats {
  list-style-type: none;
  text-align: left;
}

#stats>li>p {
  font-size: 1.3em;
}

#score {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  line-height: .25em;

}
