<div class="left">
  <%= erb :'reports/_greet_user' %>
  <h4>Check yo twitter self before you wreck yo twitter self</h4>
  <p>Type in your username and face the truth</p>
</div>
<div class="right">
  <%= erb :'reports/_search_bar' %>
</div>