<div class="left">
  <div id="summary">
    <h1>Vet your follows with TwitVet</h1>
    <p>Ever wonder if that prospective followback will clog up your timeline? TwitVet can tell you.</p>
    <p class="details">Search for a Twitter handle and find stats. Follow people who tweet a lot. But not too much. Don't follow creeps. Follow people your friends follow.</p>
  </div>
</div>
<div class="right">
  <% if !current_user %>
    <%= erb :'users/new' %>
  <% else %>
    <form action="/sessions" method="post"><input name="_method" type="hidden" value="delete"><input type="submit" value="LOGOUT"></form>
  <% end %>
</div>
