<div class="left">
  <h2>Vet your follows with TwitVet</h2>
</div>
<div class="right">
  <form name="register" method="POST" action="/users">
    <input type="text" name="user[username]" placeholder="username">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit" value="sign up">
  </form>
</div>