<form name="search" action="/reports" method="post">
    <input type="text" name="name" placeholder="twitter handle">
    <input type="text" name="user_handle" placeholder="Your twitter handle (for searching mutual followers, optional)">
    <button type="submit" value="search">Search</button>
</form>
