<div class="left">
  <%= erb :'reports/_greet_user' %>
</div>
<div class="left">
  <h1>All Reports</h1>
  <ul>
  <% @reports.each do |report| %>
    <li><a href="/reports/<%= report.id %>"><%= report.name %></a></li>
  <% end %>
  </ul>
</div>
